{% extends 'layouts/default.twig' %}

{% block content %}
    <p>PokeDex AS is a company that can keep your Pokemon inventory private. You can store your portfolio in a secure manner in our safe hands. Visiting our website is a safe undertaking for anyone and everyone.<br>

<br>We strive to be the very best at what we do. Our solid reputation is our greatest asset.</p>
{% endblock %}