<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title(title) }}</title>
        <meta name="description" content="{{ description is defined ? description : '' }}">

        <!-- Links -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.min.css') }}">
    </head>

    <body>
        
        {% block content %}

        {% endblock %}

    </body>
</html>
